<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Online:</b>
  <%= @student.online %>
</p>

<p>
  <b>Comment:</b>
  <%= @student.comment %>
</p>

<%= link_to 'Home', root_path %>

<!--%= link_to 'Edit', edit_student_path(@student) %--/> |
<!--%= link_to 'Back', students_path %--/>
